<!DOCTYPE html>
<html>
<head>
<title>Admin Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h2>Admin Dashboard</h2>

<table class="table">
<tr>
<th>Name</th>
<th>Reg No</th>
<th>Slip</th>
<th>Date</th>
<th>Time</th>
<th>Status</th>
</tr>

{% for item in submissions %}
<tr>
<td>{{ item.fullname }}</td>
<td>{{ item.regno }}</td>
<td>{{ item.filename }}</td>
<td>{{ item.date }}</td>
<td>{{ item.time }}</td>
<td>{{ item.status }}</td>
</tr>
{% endfor %}

</table>

<a href="/logout" class="btn">Logout</a>

</div>

</body>
</html>