<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h2>Welcome {{ student.fullname }}</h2>

<p><b>Reg No:</b> {{ regno }}</p>
<p><b>Program:</b> {{ student.program }}</p>
<p><b>School:</b> {{ student.school }}</p>

<a href="/upload" class="btn">Upload Bank Slip</a>
<a href="/logout" class="btn">Logout</a>

<h3>Previous Transactions</h3>

<table class="table">
<tr>
<th>Date</th>
<th>Time</th>
<th>Status</th>
</tr>

{% for item in submissions %}
<tr>
<td>{{ item.date }}</td>
<td>{{ item.time }}</td>
<td>{{ item.status }}</td>
</tr>
{% endfor %}

</table>

</div>

</body>
</html>