<!DOCTYPE html>
<html>
<head>
    <title>Upload Slip</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="header">Upload Bank Slip</div>

<div class="container">

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="slip" accept="image/*" required><br>

        <p>📌 Upload a clear scanned bank slip (Max 2MB)</p>

        <button type="submit">Scan & Verify</button>
    </form>

    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}

</div>

</body>
</html>